<<<<<<< HEAD
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <h1>Flatiron Widgets Store</h1>
      <%= yield %>
  </body>
</html>
=======
<h1>Flatiron Widgets Store</h1>
>>>>>>> 36c4d86c66f0d08818ab732f4682bbb66b41a4fe
